<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment-3</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        #Con23{
            margin-top: -15px;;
            padding-bottom: 50px;;
        }
        .Container2 {
            background-color: #F9F7EE;;
        }

        .Container {
            width: 1170px;
            margin: 0px auto;
            background-color: #F9F7EE;
        }

        .section8 {
            padding: 30px 0px;
            width: 100%;
            margin: 0px auto -30px auto;
        }

        .section2 {
            width: 100%;
            margin: 0px auto;
            position: relative;
            bottom: 230px;
        }

        #section6 {
            width: 1170px;
            margin: 0px auto;
        }

        .section {
            width: 1170px;
            margin: 0px auto;
        }

        .Container2 {
            width: 1294px;
            margin: 0px auto;
        }

        #section4 {
            padding: 120px 70px;
        }
        #Container3{
            margin-top:-60px;
        }
    </style>
    <link rel="stylesheet" href="Ass3/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color:#F9F7EE;;">
    <header>
        <div class="Container" id="Container1">
            <div id="logo">
                <a href=""><img src="Ass3/HireX_black.png" alt=""></a>
            </div>
            <div id="navbar">
                <ul>
                    <li>
                        <div class="navDiv"><a href="">Works</a>
                        </div>
                    </li>
                    <li>
                        <div class="navDiv"><a href="">About us<img src="Ass3/chevron-down.svg" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="navDiv"><a href="">Blogs<img src="Ass3/chevron-down.svg" alt=""></a></div>
                    </li>
                    <li>
                        <div class="navDiv"><a href="">FAQs</a></div>
                    </li>
                    <li>
                        <div class="navDiv"><a href="">Contact us</a></div>
                    </li>
                    <li>
                        <div class="button1"><a href="">We're Hiring <img style="background-color: black;"
                                    src="Ass3/arrow-right.svg" alt=""></a></div>
                    </li>
                </ul>
            </div>

        </div>
    </header>
    <div class="Container">
        <section id="section1">
            <div class="sec1Row">
                <div class="sec1col1">
                    <div class="sec1col1data1"><b>WELCOME TO HIREX. </b><img src="Ass3/Star 1.png" alt=""></div>
                    <div class="sec1col1data2">Award Winning Digital Agency.</div>

                    <div class="sec1col1data3">
                        <div class="sec1col1data31">
                            <p class="para2">Digital Agency offering unique solutions to create digital presence and
                                increase your sales.</p>
                        </div>
                        <div class="sec1col1data41">
                            <div class="sec1text">
                                <input type="text" placeholder="Your email address" class="textD">
                            </div>
                            <div class="sec1btn1 button">
                                Request access
                            </div>
                        </div>
                    </div>
                    <div class="sec1col1data5">Open account and get 5 boxes</div>
                </div>
                <div class="sec1col2">
                    <div class="webdesign box">
                        <img class="webdesignimg" src="Ass3/image 2 (Traced).png" alt="">
                        <div class="webdesignText">Web Design</div>
                    </div>
                    <div class="socialmedia box">
                        <img class="socialmediaimg" src="Ass3/image 6 (Traced).png" alt="">
                        <div class="socialmediaText">Social Midia</div>
                    </div>
                    <div class="uiuxdesign box">
                        <div class="uiuxdesignText">UIX Design</div>
                        <img class="uiuxdesignimg" src="Ass3/image 1 (Traced).png" alt="">
                    </div>
                    <div class="sideImg" style="display: inline-block;">
                        <img src="Ass3/Group 6.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="Container2">
        <section class="section2">
            <marquee behavior="" direction="">
                <div class="sec2Row1">
                    <div class="sec2data1">
                        <b class="sec2text">GET ACCESS NOW!</b>
                        <img class="sec2Row1img" width="70px;" src="Ass3/image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                    <div class="sec2data1">
                        <b class="sec2text">GET ACCESS NOW!</b>
                        <img class="sec2Row1img" width="70px;" src="Ass3/image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                    <div class="sec2data1">
                        <b class="sec2text">GET ACCESS NOW!</b>
                        <img class="sec2Row1img" width="70px;" src="Ass3/image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
            </marquee>
        </section>
    </div>
    <div class="Container2">
        <section class="section" id="section3">
            <div class="sec3Row1">
                <div class="sec3btn"><a href="">Services</a></div>
            </div>
            <div class="sec3Row2">
                <p class="para1">How Hirex. Work</p>
            </div>
            <div class="sec3Row3">
                <p class="para2">The awesome people who makes all this possible</p>
            </div>
            <div class="sec3Row4">
                <div class="sec3card">
                    <div class="cardtext1">
                        <p class="para2" style="background-color: #EBE9DE;">START HERE</p>
                    </div>
                    <div class="cardtext2">
                        <P class="para3" style="background-color: #EBE9DE;">Who we are & what we do</P>
                    </div>
                    <img class="cardimg" src="Ass3/Designer _Flatline 1.png" alt="">
                    <div class="cardbtn cbtn1">START HERE <img style="background-color: #389B48; margin-bottom: 5px;"
                            src="Ass3/arrow-right.svg" alt=""></div>
                </div>
                <div class="sec3card">
                    <div class="cardtext1">
                        <p class="para2" style="background-color: #EBE9DE;">START HERE</p>
                    </div>
                    <div class="cardtext2">
                        <P class="para3" style="background-color: #EBE9DE;">Who we are & what we do</P>
                    </div>
                    <img class="cardimg1" src="Ass3/Notifications_Flatline 1.png" alt="">
                    <div class="cardbtn cbtn2">START HERE <img style="background-color: #FFBB38; margin-bottom: 5px;"
                            src="Ass3/arrow-right-black.svg" alt=""></div>
                </div>
                <div class="sec3card">
                    <div class="cardtext1">
                        <p class="para2" style="background-color: #EBE9DE;">START HERE</p>
                    </div>
                    <div class="cardtext2">
                        <P class="para3" style="background-color: #EBE9DE;">Who we are & what we do</P>
                    </div>
                    <img class="cardimg2" src="Ass3/Fortnite_Two Color 1.png" alt="">
                    <div class="cardbtn cbtn3">START HERE <img style="background-color: #FC7F3A; margin-bottom: 5px;"
                            src="Ass3/arrow-right-black.svg" alt=""></div>
                </div>
            </div>
        </section>
    </div>
    <div class="Container2">
        <section class="section" id="section4">
            <div class="sec3Row1sub1">
                <div class="sec3btn2"><a href="">Works</a></div>
            </div>
            <div class="sec3Row2sub">
                <p class="para1">
                    Find our latetest works
                </p>
            </div>
            <div class="sec3Row3">
                <p class="para2">The awesome people who makes all this possible</p>
            </div>
            <div class="sec4Row1">
                <div class="sec4Col1">
                    <div class="sec4col1da1">
                        <img src="Ass3/Rectangle 13.png" alt="">
                    </div>
                    <div class="sec4col1da2">
                        <div class="sec4btn"><a href="">Web design</a>
                        </div>
                        <div class="sec4headline">
                            <p class="para4">Website Design For Digital Agency</p>
                        </div>
                        <div class="sec4text">
                            <p class="para2">Build a unique Website with HireX Template</p>
                        </div>
                        <div class="sec4link">Read more <img src="Ass3/arrow-right-black.svg" alt=""></div>
                    </div>
                </div>
                <div class="sec4Col2">
                    <div class="sec4col2da1">
                        <img src="Ass3/Rectangle 13-1.png" alt="">
                    </div>
                    <div class="sec4col2da2">
                        <div class="sec4btn"><a href="">3D Design</a>
                        </div>
                        <div class="sec4headline">
                            <p class="para4">Realistic 3d Model of living Room</p>
                        </div>
                        <div class="sec4text">
                            <p class="para2">Build a unique Website with HireX Template</p>
                        </div>
                        <div class="sec4link">Read more <img src="Ass3/arrow-right-black.svg" alt=""></div>
                        <div class="cardbtn cbtn2" id="viewBtn">View All <img
                                style="background-color: #FFBB38; margin-bottom: 5px;" src="Ass3/arrow-right-black.svg"
                                alt=""></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="Container2" id="Con23">
        <section class="section" id="section5">
            <div class="sec3Row2">
                <p class="para1">plans & Pricing</p>
            </div>
            <div class="sec3Row3">
                <p class="para2">The awesome people who makes all this possible</p>
            </div>
            <div class="sec5Card">
                <div class="sec5card1">
                    <div class="sec5Con1">
                        <div class="para4 centerAlign">
                            FREE
                        </div>
                        <div class="para4 centerAlign" style="margin-bottom:-20px">
                            <span class="para5 centerAlign">$0</span>/MONTH</P>
                        </div>
                        <div class="para2 centerAlign">Start free while you learn more about our services</div>
                    </div>
                    <hr class="hr1">
                    <div class="todoText">
                        <div class="todo1 para2">&#10004; Free forever get the basic essentials</div>
                        <div class="todo1 para2">&#10004; Advanced security and performance</div>
                        <div class="todo1 para2">&#10004; Unlimited unhosted sites</div>
                        <div class="todo1 para2">&#10004; Live support</div>
                    </div>
                    <div class="cardbtnm cbtnm2">START HERE</div>
                </div>

                <div class="sec5card1">
                    <div class="sec5Con1">
                        <div class="para4 centerAlign">
                            BASIC
                        </div>
                        <div class="para4 centerAlign" style="margin-bottom:-20px">
                            <span class="para5 centerAlign">$19</span>/MONTH</P>
                        </div>
                        <div class="para2 centerAlign">Get powerful tools to make your business grow</div>
                    </div>
                    <hr class="hr1">
                    <div class="todoText">
                        <div class="todo1 para2">&#10004; Free forever get the basic essentials</div>
                        <div class="todo1 para2">&#10004; Advanced security and performance</div>
                        <div class="todo1 para2">&#10004; Unlimited unhosted sites</div>
                        <div class="todo1 para2">&#10004; Live support</div>
                    </div>
                    <div class="cardbtnm cbtnm3">START HERE</div>
                </div>
                <div class="sec5card1">
                    <div class="sec5Con1">
                        <div class="para4 centerAlign">
                            PRO
                        </div>
                        <div class="para4 centerAlign" style="margin-bottom:-20px">
                            <span class="para5 centerAlign">$99</span>/MONTH</P>
                        </div>
                        <div class="para2 centerAlign">Take your business to the next level with our tools</div>
                    </div>
                    <hr class="hr1">
                    <div class="todoText">
                        <div class="todo1 para2">&#10004; Free forever get the basic essentials</div>
                        <div class="todo1 para2">&#10004; Advanced security and performance</div>
                        <div class="todo1 para2">&#10004; Unlimited unhosted sites</div>
                        <div class="todo1 para2">&#10004; Live support</div>
                    </div>
                    <div class="cardbtnm cbtnm1">START HERE</div>
                </div>
            </div>
        </section>
    </div>
    <div class="Container2" id="Container3" style="background-color: #389B48;">
        <section id="section6">
            <div class="sec6Row">
                <div onclick="prev()">
                    <img src="Ass3/arrow-left-2.png" alt="">
                </div>
                <div class="seccol1">
                    <div class="sec6col"><img class="testmon" src="Ass3/testimonials-img.png" alt=""></div>
                    <div class="testBtn">
                        <div class="InnerBtn1">@mase.place</div>
                        <div class="InnerBtn2">
                            <img src="Ass3/arrow_top-right.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="seccol2">
                    <div class="sec6data1 para1">"We select to practice in Minerva since it is both useful, and our
                        clients basically adore it! It has stood the test of time and proceeds"</div>
                    <div class="sec6data2 para4">Abel Carden is a TikTok personality and lip-sync content creator who
                        has built a fanbase of more than 3.2 million followers on the platform.
                    </div>
                </div>
                <div onclick="next()">
                    <img src="Ass3/arrow-right-black.svg" alt="">
                </div>
            </div>
        </section>
    </div>
    <div class="Container2">
        <section class="section" id="section7">
            <div class="sec3Row1sub1n">
                <div class="sec3btn2n"><a href="">Blog</a></div>
            </div>
            <div class="sec3Row2subn">
                <p class="para1">
                    Stay updated
                </p>
            </div>
            <div class="sec4Row1">
                <div class="sec4Col1">
                    <div class="sec4col1da1">
                        <img src="Ass3/Rectangle 19.png" alt="">
                    </div>
                    <div class="sec4col1da2">
                        <div class="sec4btn"><a href="">Web design</a>
                        </div>
                        <div class="sec4headline">
                            <p class="para4">We Launch Minerva Template this Week!</p>
                        </div>
                        <div class="sec4text">
                            <p class="para2">Build a unique Website with HireX Template</p>
                        </div>
                        <div class="sec4link">Read more <img src="Ass3/arrow-right-black.svg" alt=""></div>
                    </div>
                </div>
                <div class="sec4Col2">
                    <div class="sec4col2da1">
                        <img src="Ass3/Rectangle 20.png" alt="">
                    </div>
                    <div class="sec4col2da2">
                        <div class="sec4btn"><a href="">Web design</a>
                        </div>
                        <div class="sec4headline">
                            <p class="para4">Intoducing the Non-Code Wenflow Guide</p>
                        </div>
                        <div class="sec4text">
                            <p class="para2">Build a unique Website with HireX Template</p>
                        </div>
                        <div class="sec4link">Read more <img src="Ass3/arrow-right-black.svg" alt=""></div>
                        <div class="cardbtn cbtn2" id="viewBtn">View All <img
                                style="background-color: #FFBB38; margin-bottom: 5px;" src="Ass3/arrow-right-black.svg"
                                alt=""></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="Container2">
        <section class="section8">
            <div class="ContainSec8">
                <div class="Sec8Col1">
                    <p class="para1">Get our latest news & updates</p>
                    <form>
                        <input type="text" id="fname" name="fname" placeholder="NAME">
                        <input type="text" id="lname" name="lname" placeholder="EMAIL">
                        <input type="text" id="subscribe" name="subscribe" placeholder="SUBSCRIBE">
                    </form>
                </div>
                <div class="arrow">
                    <img src="Ass3/arrow-right-black.svg" alt="" width="23px">
                </div>
                <div class="Sec8Col2">
                    <div>
                        <span class="para4">
                            We select to practice in Minerva since it is both useful and commonsense, and our clients
                            basically adore it
                        </span>
                    </div>
                    <div class="sec4btn book"><a href="">Book a Call</a>
                    </div>
                </div>
            </div>
            <marquee behavior="" direction="" loop="25" bgcolor="black">
                <div class="sec2Row1">
                    <div class="sec2data1n">
                        <b class="sec2textn">THANK YOU FOR YOUR VISIT</b>
                        <img class="sec2Row1imgn" width="70px;" src="Ass3/Group 59.png" alt="">
                    </div>
                    <div class="sec2data1n">
                        <b class="sec2textn">THANK YOU FOR YOUR VISIT</b>
                        <img class="sec2Row1imgn" width="70px;" src="Ass3/Line 4.png" alt="">
                    </div>
                    <div class="sec2data1n">
                        <b class="sec2textn">THANK YOU FOR YOUR VISIT</b>
                        <img class="sec2Row1imgn" width="70px;" src="Ass3/Group 59.png" alt="">
                    </div>
                </div>
            </marquee>
        </section>
        
    </div>
    <div class="Container2" style="background-color: wheat;" id="footer">
        <footer class="section" id="lastFooter">
            <div class="footTitle">
                <img width="100px;" src="Ass3/HireX_black.png" alt="">
            </div>
            <hr class="hr1">
            <div class="footElm">
                <div class="foel1" id="firstfoel">
                    <div class="foel1ti">products</div>
                    <div class="foel1text">Platform</div>
                    <div class="foel1text">Store Overview</div>
                    <div class="foel1text">Email Reports</div>
                    <div class="foel1text">portfolio</div>
                </div>
                <div class="foel1">
                    <div class="foel1ti">Resources</div>
                    <div class="foel1text">Case Studies</div>
                    <div class="foel1text">Product Guides</div>
                    <div class="foel1text">Reports</div>
                    <div class="foel1text">Blog</div>
                    <div class="foel1text">FAQ</div>
                </div>
                <div class="foel1">
                    <div class="foel1ti">Company</div>
                    <div class="foel1text">Careers</div>
                    <div class="foel1text">Contact Sales</div>
                    <div class="foel1text">Contact Support</div>
                </div>
                <div class="foel1">
                    <div class="foel1ti">Partners</div>
                    <div class="foel1text">Partner With Us</div>
                </div>
            </div>
            <div class="lastfooter">
                <div class="termsCo">Terms and Conditions</div>
                <div class="privacy">Privacy Policy</div>
                <div class="Hrx">HIREX, Inc. 2024</div>
            </div>
        </footer>
    </div>
    <script src="Ass3/script.js"></script>
</body>

</html>