<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="con">
        <div class="Container" id="Container">
            <div id="subCon1">
                <img src="Designer _Flatline 1.png" alt="">
            </div>
            <div id="subCon2" class="ContainerLogin">
                <h2 id="register">Register!!!</h2>
                <form id="form">
                    <div id="pass">
                        <div class="formdesign" id="pass1">
                            <input type="password" name="pass1" placeholder="Create Password:"><br>
                            <span class="formerror"><b></b></span>
                        </div>
                        <div class="formdesign" id="pass2">
                            <input type="password" name="pass2" placeholder="Confirm Password:"><br>
                            <span class="formerror"><b></b></span>
                        </div>
                        <div class="formdesign" id="subbtn">
                            <div class="btn" onclick="registerfinal()">Register</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="lastPage" style="display: none;">
            <h2>Thank You for your presence!!</h2>
            <div id="loginLink" class="btn" onclick="sendToLogin()">Login</div>
        </div>

    </div>
    <script>
        const sendToLogin = () => {
            window.location = `http://localhost:8081/login`;
        }
        const formValidator2 = () => {
            var returnVal = true;
            clearerrors();
            var pass1 = document.getElementsByName("pass1");
            var pass2 = document.getElementsByName("pass2");
            if (pass1[0].value != pass2[0].value) {
                seterror("pass2", "both password is not same!!");
                returnVal = false;
            }
            return returnVal;
        }
        const seterror = (id, error) => {
            var a = document.getElementById(id);
            var b = a.getElementsByClassName("formerror")[0];
            b.innerHTML = error;
        }
        function clearerrors() {
            element = document.getElementsByClassName("formerror");
            for (let item of element) {
                item.innerHTML = "";
            }
        }
        const registerfinal = async () => {
            if (formValidator2()) {
                var nextLink = `<%=digitalLink%>`;
                var userId = `<%=userId%>`;;
                if (nextLink != undefined) {
                    let form = document.getElementById("form");
                    let formdata = new FormData(form);
                    const params = new URLSearchParams(formdata);
                    const response1 = await new Response(params).text();

                    var response2 = response1 + "&digilink=" + nextLink + "&userID=" + userId;
                    //  console.log(response2);

                    await fetch(`http://localhost:8081/postPassword`, {
                        method: "post",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        body: response2,
                    }).then(async (response) => {

                        var res = await response.json();

                        if (res.data == "success") {
                            document.getElementById("lastPage").style.display = "block";
                            document.getElementById("Container").style.display = "none";
                        }
                        else {

                        }
                    }).catch((e) => {
                        console.log(e);
                    })
                }
                else {
                    document.getElementById("messageBox").innerHTML = "Token has been experied";
                    console.log("Link has been experied!");
                }
            }
        }
    </script>
</body>

</html>