<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="con">
        <div class="Container" id="Container6">
            <div id="subCon1">
                <img src="Designer _Flatline 1.png" alt="">
            </div>
            <form action="" id="form">
                <div id="emailVar">
                    <div class="formdesign" id="email">
                        <input type="text" name="email" placeholder="Email:"><br>
                        <span class="formerror"><b></b></span>
                    </div>
                    <div class="formdesign" id="checkCred">
                        <div class="btn1" onclick="onCheckCre()">Check</div>
                    </div>
                </div>
            </form>
        </div>
        <div id="link">
            
        </div>
    </div>
    <script>
        const isStringLowerCase = (str1) => {
            var returnVal = true;
            if (str1 !== str1.toLowerCase()) {
                returnVal = false;
            }
            return returnVal;
        }
        const formValidate1 = () => {
            var returnVal = true;
            var email = document.getElementsByName("email")[0].value;
            var emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (email == "" || email == undefined) {
                seterror("email", "please set email!!");
                returnVal = false;
            }
            else if (isStringLowerCase(email) == false) {
                seterror("email", "please enter email in lowercase!!");
                returnVal = false;
            }
            else if (emailRegex.test(email) == false) {
                seterror("email", "please enter valid email!!");
                returnVal = false;
            }
            return returnVal;
        }
        const onCheckCre = async () => {
            // console.log("hello");

            if (formValidate1()) {
                let form = document.getElementById("form");
                let formdata = new FormData(form);
                const params = new URLSearchParams(formdata);
                const response1 = await new Response(params).text();
                const response2 = response1 + "&stage=2";
                await fetch(`http://localhost:8081/forgetPass`, {
                    method: "post",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: response2,
                }).then(async (response) => {
                    var res = await response.json();

                    if(res.data1){
                       // consoel.log()
                       var a = `http://localhost:8081/forgetPass?digit=${res.digit}&userId=${res.userId}&stage=3`;
                       console.log(a);
                       document.getElementById("link").innerHTML=a;
                    }
                    else{
                        var a = "invalid credentials!!";
                        document.getElementById("link").innerHTML=a;
                        document.getElementById("link").style.color="red";
                    }
                })
            }
        }
    </script>
</body>

</html>