<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/pagginationWithDeliSearch/style.css">
</head>
<body>
    <div class="Container">
        <div class="conTable1">
            <table>
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>City</th>
                <th>DOB</th>
                <tr>
                    <td>_</td>
                    <td>^</td>
                    <td>$</td>
                    <td>}</td>
                    <td>{</td>
                    <td>:</td>
                </tr>
            </table>
        </div>
        <div class="serachBox">
            <form action="/DeliSearch" method="POST">
                <input type="text" name="searchResult" id="searchResult">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>