<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment-2</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .Container {
            margin: 0px auto;
            width: 1170px;
        }
    </style>
    <link rel="stylesheet" href="Ass2/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="Container" id="Container1">
            <div id="logo navDiv">
                <a href=""><img src="Ass2/logo.png" alt="" width="250px"></a>
            </div>

            <ul>
                <div id="navbar">
                    <li>
                        <div class="nav navDiv"><a href="">Hosting</a>
                        </div>
                    </li>
                    <li>
                        <div class="nav navDiv"><a href="">Integration <img src="Ass2/chevron-down.svg" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="nav navDiv"><a href="">Pricing<img src="Ass2/chevron-down.svg" alt=""></a></div>
                    </li>
                    <li>
                        <div class="nav navDiv"><a href="">Community</a></div>
                    </li>
                    <li>
                        <div class="button1"><a href="">Login</a></div>
                    </li>
                </div>
            </ul>
        </div>
    </header>
    <section id="section1">
        <div class="Container" id="Container2">
            <div id="Container1Row1">
                <div id="Container1Row1Col1">
                    <div id="Container1Row1Col1Data1">
                        <div class="BText">Hosting Services for your Website</div>
                    </div>                                                                                     
                    <div id="Container1Row1Col1Data2">
                        <p class="sPara"></p>Easily and reliably host a website for your business, organization, or
                        project while retaining complete control over your site's underlying infrastructure.
                    </div>
                    <div id="Container1Row1Col1Data3">
                        <div class="button21">
                            <a href="">Get Started</a>
                        </div>
                        <div class="button223">
                            <a href="">Get Migration Help</a>
                        </div>
                    </div>
                </div>
                <div id="Container1Row1Col2"><img src="Ass2/portrait-confident-bearded-man-using-laptop-computer 1.png"
                        alt=""></div>
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="Container" id="Container3">
            <div class="Container3Row1">
                <div class="Con3Row1Col1 navLine">Those Who Have Experienced The Best Performance</div>
                <div class="Con3Row1Col2 navLine"><img src="Ass2/Telkom Indonesia Logo.png" alt=""></div>
                <div class="Con3Row1Col3 navLine"><img src="Ass2/Jetstar Airways Logo.png" alt=""></div>
                <div class="Con3Row1Col4 navLine"><img src="Ass2/Nescafe Logo.png" alt=""></div>
                <div class="Con3Row1Col5 navLine"><img src="Ass2/Lenovo Logo.png" alt=""></div>
            </div>
        </div>
    </section>
    <section id="sectioin3">
        <div class="Container" id="Container4">
            <div class="Con4Col1"><img src="Ass2/Group 3552.png" alt=""></div>
            <div class="Con4Col2">
                <div class="Con4Col2Row1">
                    <div class="BText">Boost the Speed of Your Website</div>
                </div>
                <div class="Con4Col2Row2">
                    <div class="Con4Col2Row2subRow1">
                        <div class="subRow1data1">
                            <div class="data1ti1">Faster Build Process</div>
                            <div class="data1des1">We can speed up the process of creating your website</div>
                        </div>
                        <div class="subRow1data2">
                            <div class="data1ti1">Faster Delivery</div>
                            <div class="data1des1">Our purchases and services can be completed quickly</div>
                        </div>
                    </div>
                    <div class="Con4Col2Row2subRow2">
                        <div class="subRow2data1">
                            <div class="data1ti1">Faster Access Speed</div>
                            <div class="data1des1">Superb network infrastructure and harware to support fast and stable
                                access</div>
                        </div>
                        <div class="subRow2data2">
                            <div class="data1ti1">24/7 Faster Service</div>
                            <div class="data1des1">We have a response time of less than 180 seconds, available 24 hours
                                a day</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section4">
        <div class="Container" id="Container5">
            <div class="Container5Row1">
                <div class="BText">Host Any Website With Our Fully Managed Services</div>
            </div>
            <div class="Container5Row2">
                <div class="Con5Row2data1 infodata">
                    <div class="inInfodata">
                        <div class="data1heading">
                            <div class="data1headimg">
                                <img src="Ass2/cloud-sunny.png" alt="">
                            </div>
                            <div class="data1Head">
                                Cloud Hosting
                            </div>
                        </div>
                        <div class="data1text">
                            Cloud Hosting is a you who are building personal websites, portfolios,
                            blogs, and other systems
                        </div>
                    </div>
                    <div class="data1price"><b><span class="price">$5.9</span>/month</b></div>
                    <div class="button22">More Detail</div>
                </div>
                <div class="Con5Row2data3 infodata">
                    <div class="inInfodata">
                        <div class="data1heading">
                            <div class="data1headimg">
                                <img src="Ass2/buildings.png" alt="">
                            </div>
                            <div class="data1Head">
                                Corporate
                            </div>
                        </div>
                        <div class="data1text">
                            Provides business-related hosting services, such as websites or management systems for
                            companies
                        </div>
                    </div>
                    <div class="data1price"><b><span class="price">$19</span>/month</b></div>
                    <div class="button22">More Detail</div>
                </div>
                <div class="Con5Row2data3 infodata">
                    <div class="inInfodata">
                        <div class="data1heading">
                            <div class="data1headimg">
                                <img src="Ass2/driver.png" alt="">
                            </div>
                            <div class="data1Head">
                                Cloud VPS
                            </div>
                        </div>
                        <div class="data1text">
                            A scalable, fully-managed virtual private server we build and optimize specifically for your
                            website.
                        </div>
                    </div>
                    <div class="data1price"><b><span class="price">$29</span>/month</b></div>
                    <div class="button22">More Detail</div>
                </div>
                <div class="Con5Row2data3 infodata">
                    <div class="inInfodata">
                        <div class="data1heading">
                            <div class="data1headimg">
                                <img src="Ass2/monitor-mobbile.png" alt="">
                            </div>
                            <div class="data1Head">
                                Dedicated
                            </div>
                        </div>
                        <div class="data1text">
                            Your mission-critical website requires the performance and security of a dedicated physical
                            server.
                        </div>
                    </div>
                    <div class="data1price"><b><span class="price">$119</span>/month</b></div>
                    <div class="button22">More Detail</div>
                </div>

            </div>
    </section>
    <section class="section5">
        <div class="Container" id="Container6">
            <div class="Con6Col1">
                <div class="Con6Col1img1" onclick="wordclick('wordpress')"><img class="wordpressimg" src="Ass2/WordPress.com Logo.png" alt=""><span class="wordpress">
                        WordPress</span></div>
                <div class="Con6Col1img1" onclick="wordclick('laravel')"><img class="wordpressimg" src="Ass2/WordPress.com Logo.png" alt=""><span class="wordpress">
                        WordPress</span></div>
                <div class="Con6Col1img1" onclick="wordclick('php')"><img class="wordpressimg" src="Ass2/WordPress.com Logo.png" alt=""><span class="wordpress">
                        WordPress</span></div>
                <div class="Con6Col1img1" onclick="wordclick('nodejs')"><img class="wordpressimg" src="Ass2/WordPress.com Logo.png" alt=""><span class="wordpress">
                        WordPress</span></div>
            </div>
            <div class="Con6Col2" id="wordpress" style="display: block;">
                <div class="Con6Col2Row1">
                    <b>
                        <h2>The Best Managed Cloud Hosting for WordPress</h2>
                    </b>
                </div>
                <div class="Con6Col2Row2"></div>
                <div class="Con6Col2Row3">
                    We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud
                    server related hassles so you can scale your website the way you want.
                </div>
                <div class="Con6Col2Row4">
                    <div class="ColData1">
                        <div class="Row4data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Unlimited Bandwidth
                        </div>
                        <div class="Row5data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Turbo Power
                        </div>
                    </div>
                    <div class="ColData2">
                        <div class="Row4data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Network Speed
                        </div>
                        <div class="Row5data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Xtream Freedom
                        </div>
                    </div>
                </div>
                <div class="button21" style="width:200px; margin-left: -5px;;">More Detail</div>
            </div>

            <div class="Con6Col2" id="laravel">
                <div class="Con6Col2Row1">
                    <b>
                        <h2>The Best Managed Cloud Hosting for laravel</h2>
                    </b>
                </div>
                <div class="Con6Col2Row2"></div>
                <div class="Con6Col2Row3">
                    We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud
                    server related hassles so you can scale your website the way you want.
                </div>
                <div class="Con6Col2Row4">
                    <div class="ColData1">
                        <div class="Row4data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Unlimited Bandwidth
                        </div>
                        <div class="Row5data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Turbo Power
                        </div>
                    </div>
                    <div class="ColData2">
                        <div class="Row4data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Network Speed
                        </div>
                        <div class="Row5data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Xtream Freedom
                        </div>
                    </div>
                </div>
                <div class="button21" style="width:200px; margin-left: -5px;;">More Detail</div>
            </div>

            <div class="Con6Col2" id="php">
                <div class="Con6Col2Row1">
                    <b>
                        <h2>The Best Managed Cloud Hosting for php</h2>
                    </b>
                </div>
                <div class="Con6Col2Row2"></div>
                <div class="Con6Col2Row3">
                    We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud
                    server related hassles so you can scale your website the way you want.
                </div>
                <div class="Con6Col2Row4">
                    <div class="ColData1">
                        <div class="Row4data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Unlimited Bandwidth
                        </div>
                        <div class="Row5data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Turbo Power
                        </div>
                    </div>
                    <div class="ColData2">
                        <div class="Row4data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Network Speed
                        </div>
                        <div class="Row5data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Xtream Freedom
                        </div>
                    </div>
                </div>
                <div class="button21" style="width:200px; margin-left: -5px;;">More Detail</div>
            </div>

            <div class="Con6Col2" id="nodejs">
                <div class="Con6Col2Row1">
                    <b>
                        <h2>The Best Managed Cloud Hosting for nodejs</h2>
                    </b>
                </div>
                <div class="Con6Col2Row2"></div>
                <div class="Con6Col2Row3">
                    We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away cloud
                    server related hassles so you can scale your website the way you want.
                </div>
                <div class="Con6Col2Row4">
                    <div class="ColData1">
                        <div class="Row4data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Unlimited Bandwidth
                        </div>
                        <div class="Row5data1">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Turbo Power
                        </div>
                    </div>
                    <div class="ColData2">
                        <div class="Row4data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Network Speed
                        </div>
                        <div class="Row5data2">
                            <img src="Ass2/Vector.png" alt="" class="vector"> Xtream Freedom
                        </div>
                    </div>
                </div>
                <div class="button21" style="width:200px; margin-left: -5px;;">More Detail</div>
            </div>
        </div>
    </section>
    <section class="section6">
        <div class="Container" id="Container7">
            <div class="Con6Row1">
                <div class="title">
                    <h1> <b>How Our Customers Feel About Us</b>
                    </h1>
                </div>
                <div class="Arrows">
                    <div class="row">
                        <div class="col">
                            <div id="btn1" onclick="pluscarosual()"><img width="22px" src="Ass2/arrow-left.svg" alt=""></div>
                        </div>
                        <div class="col">
                            <div id="btn2" onclick="pluscarosual()"><img src="Ass2/arrow-right.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Con6Row2" id="item-list">
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class="name">Guy Hawkins</div>
                    <div class="light">Manager</div>
                </div>
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class=" name">Guy Hawkins</div>
                    <div class=" light">Manager</div>
                </div>
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="profileText light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class=" name">Guy Hawkins</div>
                    <div class=" light">Manager</div>
                </div>
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="profileText light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class=" name">Guy Hawkins</div>
                    <div class=" light">Manager</div>
                </div>
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="profileText light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class=" name">Guy Hawkins</div>
                    <div class=" light">Manager</div>
                </div>
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="profileText light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class=" name">Guy Hawkins</div>
                    <div class=" light">Manager</div>
                </div>
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="profileText light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class=" name">Guy Hawkins</div>
                    <div class=" light">Manager</div>
                </div>
                <div class="Con6Row2data1">
                    <img src="Ass2/profile.png" alt="">
                    <div class="stars">
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                        <div class="star"><img src="Ass2/Star 2.png" alt=""></div>
                    </div>
                    <div class="profileText light">Thanks to the Awan Hoster, I was guided step-by-step until it was
                        finished</div>
                    <div class=" name">Guy Hawkins</div>
                    <div class=" light">Manager</div>
                </div>
            </div>
        </div>
    </section>
    <section id="section7">
        <div class="Container" id="Container8">
            <div id="Container1Row1">
                <div id="Container1Row1Last">
                    <div id="Container1Row1Col1Data1">
                        <div class="BText">Try It Now and Stop Doubting Anything Else</div>
                    </div>
                    <div id="Container1Row1Col1DataText">
                        <p class="sPara"></p>With Awan Hoster’s Money Back Guarantee, you can try the best service
                        reliability
                    </div>
                    <div id="Container1Row1Col1Data3">
                        <div class="button21">
                            <a href="">Start Free Trial</a>
                        </div>
                        <div class="button223">
                            <a href=""> See All Plans</a>
                        </div>
                    </div>
                </div>
                <div id="Container1Row1lastimg"><img src="Ass2/Group 1000008788.png" alt=""></div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="Container" id="Container8">
            <div class="footerCol1">
                <div class="fot1Col1Row1">
                    <div id="logo navDiv">
                        <a href=""><img src="Ass2/logo-white.png" alt="" width="250px"></a>
                    </div>
                </div>
                <div class="fot1Col1Row2">
                    We provide you with the best hosting solutions for your website.</div>
                <div class="col1data3">
                    <div class="smi"><img style="color:white" src="Ass2/google.svg" alt=""></div>
                    <div class="smi"><img style="color:white" src="Ass2/twitter.svg" alt=""></div>
                    <div class="smi"><img style="color:white" src="Ass2/instagram.svg" alt=""></div>
                    <div class="smi"><img style="color:white" src="Ass2/linkedin.svg" alt=""></div>
                    <div class="smi"><img style="color:white" src="Ass2/youtube.svg" alt=""></div>
                </div>
            </div>
            <div class="footerLastCol">
                <div class="footerCol2">
                    <div class="footHead">Company</div>
                    <div class="footText">About</div>
                    <div class="footText">Blog</div>
                    <div class="footText">Leadership</div>
                    <div class="footText">Careers</div>
                    <div class="footText">legal</div>
                </div>
                <div class="footerCol2">
                    <div class="footHead">Products</div>
                    <div class="footText">API</div>
                    <div class="footText">Pricing</div>
                    <div class="footText">Documentation</div>
                    <div class="footText">Release Notes</div>
                </div>
                <div class="footerCol2">
                    <div class="footHead">Contact</div>
                    <div class="footText">Support</div>
                    <div class="footText">Sales</div>
                    <div class="footText">Report Abuse</div>
                    <div class="footText">System Status</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="Ass2/script.js"></script>
</body>

</html>